<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Special+Elite');
</style>

<div class="main">
    <div class="main-container">

        <div class="sky">
            <div class="stars"></div>
            <div class="stars2"></div>
            <div class="stars3"></div>
        </div>

        <div class="content-layer">
            <div class="content-container">
                Typing.
            </div>

            <div class="type">
                <button class="type-item">
                    <img src="assets/img/quote.png" class="type-icon">
                    <div class="type-name">Quote</div>
                </button>
                <button class="type-item" >
                    <img src="assets/img/story.png" class="type-icon">
                    <div class="type-name">Story</div>
                </button>
                <button class="type-item" >
                    <img src="assets/img/word.png" class="type-icon">
                    <div class="type-name">Word</div>
                </button>
            </div>

        </div>


    </div>
</div>