* {
    font-family: 'Roboto Mono', monospace;
}



.main {
    min-height: 100%;
    width: 70%;
    height: 100%;
    margin: 0 auto;


}


.arrow {
    padding: 2%;
    font-size: 5vmin;
    cursor: pointer;
    // padding: 5%;
    // font-size: 3rem;
}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    // font-size: 200%;
    
}


.title {
    font-size: 8vmin;
}

.quote {
    margin: 5em 5%;
    font-size: 5vmin;
}




.result {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .result-content {
        width: 80%;
    }
}




.result-quote-outer {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 34rem;
}




.result-quote {
    font-family: 'Special Elite', cursive;
    color: #3f3f5a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    border-radius: 30px;
}

blockquote {
    line-height: 1.4;
    position: relative;
    padding: 1rem;
    // padding: 2.5rem;
    // max-width: 80%;
    font-weight: bold;
    font-family: "Special Elite", cursive;
    span{
        background-color: antiquewhite;
        font-family: "Special Elite", cursive;
        font-size: 5vmin;
    }
}

blockquote:before,
blockquote:after {
    position: absolute;
    color: #868585;
    font-size: 16vmin;
    width: 4rem;
    height: 4rem;
    font-weight: 400;
    }

blockquote:before {
    content: '“';
    left: -5rem;
    top: -2rem;
}

blockquote:after {
    content: '”';
    right: -5rem;
    bottom: 1rem;
}

cite {
    line-height: 3;
    text-align: left;
    font-family: 'Special Elite', cursive;
}



.blink {
    font-size: 4vmin;
    color: rgb(0, 48, 104);
    margin: 1% auto;
    animation: blink-frames 1.5s infinite;
}

@keyframes blink-frames {

    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}



// @media screen and (max-device-width: 1000px) {
//     .main-container{
//         background-color: red;
//     }
// }